:root {
    --color-grey: #798296;
    --color-grey-light: #E1E1E1;
    --color-green: #6CB43F;
    --color-blue-light: #F5FAFC;
    
}

html {
    font-size: 62.5%;
    font-family: "FiraGo", sans-serif;
    
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

