.landing {

    width: 100%;
    height: 95vh;
    position: relative;
    @media only screen and (max-width: $bp-largest) {
        height: 90vh;
    }
    @media only screen and (max-width: $bp-medium) {
        height: 85vh;
    }
    @media only screen and (max-width: $bp-medium-1) {
        height: 75vh;
    }
    @media only screen and (max-width: $bp-medium-2) {
        height: 65vh;
    }
    @media only screen and (max-width: $bp-small) {
        height: 45vh;
    }
    @media only screen and (max-width: $bp-smallest) {
        height: 47vh;
    }
  
  
    .background {
        width: 102%;
        position: relative;
        @media only screen and (max-width: $bp-smallest) {
            min-width: 100%;
            margin-right: 0;
        }
       
      

    }
    .rect {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        min-width: 38.9%;
        // max-height: auto;
        @media only screen and (max-width: $bp-largest) {
            display: none;
        }
        
      
    }
    .landing-text {
        
        color: #FFFFFF;
        
        h2 {
            position: absolute;
            top: 16rem;
            left: 11.8rem;
            width: 40%;
            height: auto;
            font-size: 3rem;
            font-weight: bold;
            @media only screen and (max-width: $bp-small) {
                top: 10rem;
                font-size: 2rem;
                width: 50%;
            }
            
        }
        p {
            position: absolute;
            top: 28rem;
            left: 11.8rem;
            width: 20%;
            @media only screen and (max-width: $bp-small) {
                top: 18rem;
                font-size: 1.2rem;
                width: 40%;
            }
        }
        .btn {
            display: flex;
            gap: 1rem;
            position: absolute;
            align-items: center;
            top: 41rem;
            left: 11.8rem;
            
            height: 4.5rem;
            padding-left: 3.5rem;
            border-radius: 5rem;
            border: none;
            width: fit-content;
            background-color: rgba($color: #fff, $alpha: .3);
            @media only screen and (max-width: $bp-small) {
                height: 3.5rem;
                top: 31rem;
            }
           
            span {
                font-size: 1.3rem;
                font-weight: bold;
                color: #FFFFFF;
            }
            &-icon {
                background-color: #fff;
                border-radius: 50%;
                width: 4.2rem;
                height: 4.2rem;
                margin-top: -.2rem;
                margin-right: .3rem;
                position: relative;
                @media only screen and (max-width: $bp-small) {
                    width: 3.2rem;
                    height: 3.2rem;
                }
                a {
                    text-align: center;
                    img {
                        width: .482rem;
                        height: .964rem;
                        position: absolute;
                        top: 1.7rem;
                        left: 2rem;
                        @media only screen and (max-width: $bp-small) {
                            top: 1.2rem;
                            left: 1.5rem;
                        }
                        
                    }
                }
            }
        }
        .active-btn {
            background-color: var(--color-green);
        }
    }
    .btn-1 {
            display: grid;
            grid-template-columns: 4.2rem 4.2rem;
            grid-gap: 2rem;
            justify-content: space-between;
            position: sticky;
            border: none;
            background-color: transparent;
            
            left: 80%;
            
           
            
            .pointer, 
            .pointer-1 {
                
                width: 4.2rem;
                height: 4.2rem;
                z-index: 10;
                border-radius: 50%;
                border-radius: 5rem;
                box-shadow: .01rem .01rem #707070;
                background-color: #fff;
            }
            .pointer {
                transform: rotate(-180deg);
            }
           .icon {
            position: absolute;
            transform: translateY(75%);
            
            
           }
    }
  .line {
    position: sticky;
    top: 65rem;
    left: 8rem;
    
   
  }

}