.landing {

    width: 100%;
    height: 100vh;
    position: relative;
   
    .background {
        width: 102%;
        position: relative;
    }
    .rect {
        position: absolute;
        top: 0;
        left: 0;
        width: 38.9%;
        height: auto;
    }
    .landing-text {
        
        color: #FFFFFF;
        h2 {
            position: absolute;
            top: 16rem;
            left: 11.8rem;
            width: 40%;
            height: auto;
            font-size: 3rem;
            font-weight: bold;
            
        }
        p {
            position: absolute;
            top: 28rem;
            left: 11.8rem;
            width: 20%;
        }
        .btn {
            display: flex;
            gap: 1rem;
            position: absolute;
            align-items: center;
            top: 43rem;
            left: 11.8rem;
            
            height: 4.5rem;
            padding-left: 3.5rem;
            border-radius: 5rem;
            border: none;
            width: fit-content;
            background-color: rgba($color: #fff, $alpha: .3);
            
           
            span {
                font-size: 1.3rem;
                font-weight: bold;
                color: #FFFFFF;
            }
            &-icon {
                background-color: #fff;
                border-radius: 50%;
                width: 4.2rem;
                height: 4.2rem;
                margin-top: -.2rem;
                margin-right: .3rem;
                position: relative;
                a {
                    text-align: center;
                    img {
                        width: .482rem;
                        height: .964rem;
                        position: absolute;
                        top: 1.7rem;
                        left: 2rem;
                    }
                }
            }
        }
    }
    .btn-1 {
            display: grid;
            grid-template-columns: 4.2rem 4.2rem;
            grid-gap: 2rem;
            justify-content: space-between;
            position: sticky;
            border: none;
            background-color: transparent;
            
            left: 80%;
            
           
            
            .pointer, 
            .pointer-1 {
                
                width: 4.2rem;
                height: 4.2rem;
                z-index: 10;
                border-radius: 50%;
                border-radius: 5rem;
                box-shadow: .01rem .01rem #707070;
                background-color: #fff;
            }
            .pointer {
                transform: rotate(-180deg);
            }
           .icon {
            position: absolute;
            top: 27%;
            
            
           }
    }
  .line {
    position: sticky;
    top: 65rem;
    left: 8rem;
  }

}